.poster-builder-hero {
  background: url("../assets/img/sn-tourney-builder-hero-baseball.jpg") no-repeat top center;
  background-size: cover; }

footer {
  background: url("../assets/img/sn-tourney-builder-footer-baseball.jpg") no-repeat center center;
  background-size: cover; }

.template-selector .template-trigger-one {
  background: url("../assets/img/baseball-template-one_SCREEN.jpg") no-repeat center center;
  background-size: contain; }

.template-selector .template-trigger-two {
  background: url("../assets/img/baseball-template-two_SCREEN.jpg") no-repeat center center;
  background-size: contain; }

.poster-canvas.template-one {
  background: url("../assets/img/baseball-template-one_SCREEN.jpg") no-repeat center center;
  background-size: contain;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  text-align: center; }
  .poster-canvas.template-one .template-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%; }
  .poster-canvas.template-one .template-element {
    position: absolute;
    width: 80%;
    left: 10%; }
    .poster-canvas.template-one .template-element.host-name {
      top: 6%;
      color: #fbb03b;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .poster-canvas.template-one .template-element.tournament-name {
      bottom: 70%;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 3em;
      text-transform: uppercase; }
    .poster-canvas.template-one .template-element.tournament-date {
      top: 31%; }
      .poster-canvas.template-one .template-element.tournament-date .date-wrapper {
        display: inline-block;
        padding: 0.4em 1em;
        background: #fff;
        color: #000;
        font-weight: 700;
        font-size: 1em; }
    .poster-canvas.template-one .template-element.tournament-location {
      top: 36%;
      color: #fbb03b;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .poster-canvas.template-one .template-element.tournament-details {
      bottom: 40%;
      padding: 0 5%;
      font-size: 1em; }
      .poster-canvas.template-one .template-element.tournament-details .tournament-description {
        display: inline-block;
        width: 100%;
        padding-bottom: .5%;
        line-height: 1.5; }
    .poster-canvas.template-one .template-element.tournament-deadline {
      top: 62%;
      text-transform: uppercase; }
    .poster-canvas.template-one .template-element.tournament-callouts {
      top: 68%;
      text-align: center; }
      .poster-canvas.template-one .template-element.tournament-callouts .tournment-callout {
        display: inline-block;
        width: 31%;
        color: #fbb03b;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.25;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        .poster-canvas.template-one .template-element.tournament-callouts .tournment-callout .teams-number,
        .poster-canvas.template-one .template-element.tournament-callouts .tournment-callout .games-number,
        .poster-canvas.template-one .template-element.tournament-callouts .tournment-callout .fee {
          font-family: "Roboto", sans-serif;
          font-weight: 900;
          font-size: 3em;
          color: #fff; }
    .poster-canvas.template-one .template-element.tournament-contact {
      bottom: 6%; }
      .poster-canvas.template-one .template-element.tournament-contact .contact-information {
        font-weight: 700;
        color: #fbb03b;
        font-size: .75em;
        text-transform: uppercase; }
      .poster-canvas.template-one .template-element.tournament-contact .tournament-website {
        display: inline-block;
        width: 100%;
        padding-top: 2%;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 1.75em;
        font-weight: 900; }

.poster-canvas.template-two {
  background: url("../assets/img/baseball-template-two_SCREEN.jpg") no-repeat center center;
  background-size: contain;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  text-align: center; }
  .poster-canvas.template-two .template-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%; }
  .poster-canvas.template-two .template-element {
    position: absolute;
    width: 80%;
    left: 10%; }
    .poster-canvas.template-two .template-element.host-name {
      top: 6%;
      color: #fbb03b;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .poster-canvas.template-two .template-element.tournament-name {
      bottom: 70%;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 3em;
      text-transform: uppercase; }
    .poster-canvas.template-two .template-element.tournament-date {
      top: 31%; }
      .poster-canvas.template-two .template-element.tournament-date .date-wrapper {
        display: inline-block;
        padding: 0.4em 1em;
        background: #fff;
        color: #000;
        font-weight: 700;
        font-size: 1em; }
    .poster-canvas.template-two .template-element.tournament-location {
      top: 36%;
      color: #fbb03b;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .poster-canvas.template-two .template-element.tournament-details {
      bottom: 40%;
      padding: 0 5%;
      font-size: 1em; }
      .poster-canvas.template-two .template-element.tournament-details .tournament-description {
        display: inline-block;
        width: 100%;
        padding-bottom: .5%;
        line-height: 1.5; }
    .poster-canvas.template-two .template-element.tournament-deadline {
      top: 62%;
      text-transform: uppercase; }
    .poster-canvas.template-two .template-element.tournament-callouts {
      top: 68%;
      text-align: center; }
      .poster-canvas.template-two .template-element.tournament-callouts .tournment-callout {
        display: inline-block;
        width: 31%;
        color: #fbb03b;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.25;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        .poster-canvas.template-two .template-element.tournament-callouts .tournment-callout .teams-number,
        .poster-canvas.template-two .template-element.tournament-callouts .tournment-callout .games-number,
        .poster-canvas.template-two .template-element.tournament-callouts .tournment-callout .fee {
          font-family: "Roboto", sans-serif;
          font-weight: 900;
          font-size: 3em;
          color: #fff; }
    .poster-canvas.template-two .template-element.tournament-contact {
      bottom: 6%; }
      .poster-canvas.template-two .template-element.tournament-contact .contact-information {
        font-weight: 700;
        color: #fbb03b;
        font-size: .75em;
        text-transform: uppercase; }
      .poster-canvas.template-two .template-element.tournament-contact .tournament-website {
        display: inline-block;
        width: 100%;
        padding-top: 2%;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 1.75em;
        font-weight: 900; }
