// Sport Ngin Tournament Poster Generator :: Baseball Template :: Vert Digital

// FILE SECTIONS //////////////

// 1. Variables
// 2. Imported Partials
// 3. Page Styles
// 4. Poster Template One
// 4. Poster Template Two


// //////////////////////////
// 1. VARIABLES
// //////////////////////////

// Color
$gold: #fbb03b;
$red: #81151e;
$green: #83bf23;

// Fonts
$template-one-body: 'Roboto Condensed', sans-serif;
$template-one-header: 'Roboto', sans-serif;


// //////////////////////////
// 2. PARTIALS
// //////////////////////////

@import 'partials/mixins';


// //////////////////////////
// 3. PAGE STYLES
// //////////////////////////
.poster-builder-hero {
	background: url('../assets/img/sn-tourney-builder-hero-baseball.jpg') no-repeat top center;
	background-size: cover;
}

footer {
	background: url('../assets/img/sn-tourney-builder-footer-baseball.jpg') no-repeat center center;
	background-size: cover;
}

.template-selector {
	.template-trigger-one {
		background: url('../assets/img/baseball-template-one_SCREEN.jpg') no-repeat center center;
		background-size: contain;
	}
	.template-trigger-two {
		background: url('../assets/img/baseball-template-two_SCREEN.jpg') no-repeat center center;
		background-size: contain;
	}
}


// //////////////////////////
// 4. POSTER TEMPLATE ONE
// //////////////////////////
.poster-canvas.template-one {
	background: url('../assets/img/baseball-template-one_SCREEN.jpg') no-repeat center center;
	background-size: contain;
	font-family: $template-one-body;
	color: #fff;
	text-align: center;
	.template-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
	.template-element {
		position: absolute; 
		width: 80%;
		left: 10%; 
		&.host-name {
			top: 6%;
			color: $gold;
			font-weight: 700;
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&.tournament-name {
			bottom: 70%;
			font-family: $template-one-header;
			font-weight: 900;
			font-size: 3em;
			text-transform: uppercase;
		}
		&.tournament-date {
			top: 31%;
			.date-wrapper {
				display: inline-block;
				padding: .4em 1em;
				background: #fff;
				color: #000;
				font-weight: 700;
				font-size: 1em;
			}
		}
		&.tournament-location {
			top: 36%;
			color: $gold;
			font-weight: 700;
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&.tournament-details {
			bottom: 40%;
			padding: 0 5%;
			font-size: 1em;
			.tournament-description {
				display: inline-block;
				width: 100%;
				padding-bottom: .5%;
				line-height: 1.5;
			}
		}
		&.tournament-deadline {
			top: 62%;
			text-transform: uppercase;
		}
		&.tournament-callouts {
			top: 68%;
			text-align: center;
			.tournment-callout {
				display: inline-block;
				width: 31%;
				color: $gold;
				font-weight: 700;
				font-size: 1em;
				line-height: 1.25;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				.teams-number,
				.games-number,
				.fee {
					font-family: $template-one-header;
					font-weight: 900;
					font-size: 3em;
					color: #fff; 
				}
			}
		}
		&.tournament-contact {
			bottom: 6%;
			.contact-information {
				font-weight: 700;
				color: $gold;
				font-size: .75em;
				text-transform: uppercase;
			}
			.tournament-website {
				display: inline-block;
				width: 100%;
				padding-top: 2%;
				color: #fff;
				font-family: $template-one-header;
				font-size: 1.75em;
				font-weight: 900;
			}
		}
	}
}

// //////////////////////////
// 5. POSTER TEMPLATE TWO
// //////////////////////////

.poster-canvas.template-two {
	background: url('../assets/img/baseball-template-two_SCREEN.jpg') no-repeat center center;
	background-size: contain;
	font-family: $template-one-body;
	color: #fff;
	text-align: center;
	.template-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
	.template-element {
		position: absolute; 
		width: 80%;
		left: 10%; 
		&.host-name {
			top: 6%;
			color: $gold;
			font-weight: 700;
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&.tournament-name {
			bottom: 70%;
			font-family: $template-one-header;
			font-weight: 900;
			font-size: 3em;
			text-transform: uppercase;
		}
		&.tournament-date {
			top: 31%;
			.date-wrapper {
				display: inline-block;
				padding: .4em 1em;
				background: #fff;
				color: #000;
				font-weight: 700;
				font-size: 1em;
			}
		}
		&.tournament-location {
			top: 36%;
			color: $gold;
			font-weight: 700;
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&.tournament-details {
			bottom: 40%;
			padding: 0 5%;
			font-size: 1em;
			.tournament-description {
				display: inline-block;
				width: 100%;
				padding-bottom: .5%;
				line-height: 1.5;
			}
		}
		&.tournament-deadline {
			top: 62%;
			text-transform: uppercase;
		}
		&.tournament-callouts {
			top: 68%;
			text-align: center;
			.tournment-callout {
				display: inline-block;
				width: 31%;
				color: $gold;
				font-weight: 700;
				font-size: 1em;
				line-height: 1.25;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				.teams-number,
				.games-number,
				.fee {
					font-family: $template-one-header;
					font-weight: 900;
					font-size: 3em;
					color: #fff; 
				}
			}
		}
		&.tournament-contact {
			bottom: 6%;
			.contact-information {
				font-weight: 700;
				color: $gold;
				font-size: .75em;
				text-transform: uppercase;
			}
			.tournament-website {
				display: inline-block;
				width: 100%;
				padding-top: 2%;
				color: #fff;
				font-family: $template-one-header;
				font-size: 1.75em;
				font-weight: 900;
			}
		}
	}
}