// Sport Ngin Tournament Poster Generator :: Global Styles :: Vert Digital

// FILE SECTIONS //////////////

// 1. Variables
// 2. Imported Partials
// 3. Page Structure
// 4. Typography
// 5. Header & Hero
// 6. Builder Elements
// 7. Poster Elements
// 8. Footer/CTA
// 9. Approval & Preview States(mobile)
// 10. Preloader
// 11. Download Page


// //////////////////////////
// 1. VARIABLES
// //////////////////////////

// Color
$blue: #13759b;
$bluehover: #0a3c4f;
$black1: #23282b;
$black2: #3a4247;
$black3: #1b1f22;
$dkgray: #68767f;
$mdgray: #788891;
$ltgray: #c3cace;
$offwhite: #f2f3f4;
$green: #13aa37;
$greenhover: #0c6d23;
$red: #ea322f;

// Fonts
$gotham: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
$vitesse: 'Vitesse A', 'Vitesse B', Helvetica, Arial, sans-serif;

// Layout
$padding-standard: 24px;
$padding-slim: 16px;
$container-width-landscape: 920px;
$container-width-vertical: 640px;


// //////////////////////////
// 2. PARTIALS
// //////////////////////////

@import 'partials/normalize';
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/animations';


// //////////////////////////
// 3. PAGE STRUCTURE
// //////////////////////////

body, html { 
	margin: 0;
	padding: 0; 
	font-family: $gotham;
	color: $black1;
	font-weight: normal;
	font-style: normal;
	background-color: transparent;
	&.no-scroll {
		position: fixed;
		width: 100%;
	}
}

main, header, footer, section {
	@extend %clearfix;
	position: relative;
	width: 100%;
}

.container {
	@extend %clearfix;
	width: 100%;
	margin: 0 auto;
	@include landscape {
		max-width: $container-width-landscape;
	}
	@include vertical {
		max-width: $container-width-vertical;
	}
}

.col {
	float: left;
	&.one-fourth {
		width: 25%;
		@include vertical {
			width: 100%;
		}
	}
	&.one-third {
		width: 33.333%;
		@include vertical {
			width: 100%;
		}
	}
	&.half {
		width: 50%;
		@include vertical {
			width: 100%;
		}
	}
	&.two-thirds {
		width: 66.666%;
		@include vertical {
			width: 100%;
		}
	}
	
	&.three-fourths {
		width: 75%;
		@include vertical {
			width: 100%;
		}
	}
	&.full {
		width: 100%;
	}
	&.pad-left {
		padding-left: 20px;
	}
	&.pad-right {
		padding-right: 20px;
	}
}


// //////////////////////////
// 4. TYPOGRAPHY
// //////////////////////////


h2 {
	@include font-size(40px);
	font-weight: 700;
	font-family: $vitesse;
	line-height: 1.1;
	margin: 0px 0px 15px 0px;
	letter-spacing: -1px;
	@include desktop-small {
		@include font-size(36px);
	}
	@include vertical {
		@include font-size(32px);
	}
	@include mobile {
		@include font-size(26px);
		margin: 0 0 10px 0;
		letter-spacing: 0;
	}
}

h3 {
	@include font-size(18px);
	font-weight: 500;
	line-height: 1.3;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	@include mobile {
		@include font-size(16px);
	}
}

h4 {
	@include font-size(17px);
	font-family: $vitesse;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	@include mobile{
		@include font-size(16px);
	}
	a{
		text-decoration:none;
		color:$blue;
	}
}

h5 {
	@include font-size(12px);
	font-weight:300;
	line-height:115%;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin: 0;
	@include mobile-medium{
  		@include font-size(13px);
	}
}

h6 {
	@include font-size(16px);
	font-weight: 700;
}

p, li {
	@include font-size(14px);
	font-weight: 300;
	line-height: 1.5;
	color: $dkgray;
	@include mobile {
		@include font-size(14px);
	}
}

p {
  margin:0 0 15px 0;
  &.intro {
	@include font-size(16px);
	font-weight: 400;
	@include mobile {
		@include font-size(14px)
	}
  }
  &.smaller {
	 @include font-size(14px);
	 @include mobile {
		@include font-size(13px)
	} 
  }
}

a {
	text-decoration: none;
}

strong {
	font-weight: 700;
}



// //////////////////////////
// 5. HEADER & HERO
// //////////////////////////

.poster-builder-intro {
	padding: 36px $padding-standard 88px $padding-standard;
	@include mobile-medium {
		padding: 36px $padding-standard 64px $padding-standard;
	}
	
	h2, h3, h4, h5, p {
		color: #fff;
	}
	
	.masthead {
		padding: 0 20px 36px 20px;
		@include mobile-medium {
			padding: 0 0 32px 0;
		}
		h1 {
			display: inline-block;
			width: 148px;
			height: 26px;
			background: url('../assets/img/sn-logo-white.svg');
			background-size: 148px 26px;
			overflow: hidden;
			text-indent: -9999px;
			@include mobile-medium {
				display: block;
				margin: 0 auto;
				width: 131px;
				height: 23px;
				background-size: 131px 23px;
			}
		}
	}
	
	.intro-content {
		padding: 0 20px;
		@include mobile-medium {
			padding: 0;
			text-align: center;
		}
	}
	
}

.sn-share {
	@extend %clearfix;
	display: inline-block;
	float: right;
	&.header-share {
		@include mobile-medium {
			display: none;
		}
		h5 {
			float: left;
			height: 24px;
			padding-right: 7px;
			line-height: 24px;
		}
	}
	&.mobile-share {
		float: none;
		margin-top: 25px;
		display: none;
		@include mobile-medium {
			display: inline-block;
		}
		h5 {
			width: 100%;
			text-align: center;
			padding: 16px 0;
		}
	}
	h5 {
		display: inline-block;
		color: #fff;
	}
	a {
		@include circle-link;
		margin: 0 1px;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		transform: scale(1);
		-webkit-transform: scale(1);
		@include border-radius(50%);
		@include transition(all .3s);
		overflow: hidden;
		&:hover {
			box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
			transform: scale(1.1);
			-webkit-transform: scale(1.1);	
		}
		&.facebook,
		&.twitter {
			.social-fill {
				@include transition(fill .3s);
				fill: $offwhite;
			}
		}
		&.facebook {
			&:hover {
				> svg {
					> .social-fill {
						fill: #547bbc;
					}
				}
			}
		}
		&.twitter {
			&:hover {
				> svg {
					> .social-fill {
						fill: #78cbef;
					}
				}
			}
		}
		svg {
			display: block;
			width: 100%;
		}
	}
}

.no-svg .sn-share{
	a {
		&.facebook {
			background: url('../assets/img/social-icon_facebook.png') no-repeat center center;
		}
		&.twitter {
			background: url('../assets/img/social-icon_twitter.png') no-repeat center center;
		}
		svg {
			display: none;
		}
	}
}

.poster-builder-hero {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 360px;
	border-top: 5px solid $blue;
	z-index: -2;
}


// //////////////////////////
// 6. BUILDER ELEMENTS
// //////////////////////////

.page-wrapper {
	min-height: 640px;
	@include vertical {
		margin-bottom: 0 !important;
	}
}

.poster-builder-app {
	background: #fff;
	padding: 0 $padding-standard 64px $padding-standard;
	border-bottom: 5px solid $blue;
	@include mobile {
		padding: 0 $padding-slim 64px $padding-slim; 
	}
}

.gen-container {
    position: relative;
    margin-top: -32px;
    min-height: 640px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid $ltgray;
    
    .gen-content-left {
	    float: left;
	    width: 47.5%;
	    padding-right: 8px;
	    @include vertical {
		    width: 100%;
		    padding-right: 0;
	    }
	    #form-views {
		    width: 100%;
	    }
    }
    
    .gen-content-right {
	    float: right;
	    width: 52.5%;
	    padding-left: 8px;
	    @include vertical {
		    width: 0;
		    padding: 0;
		    height: 0;
		    overflow: hidden;
	    }
    }
}


// Builder Intro & Steps
.gen-intro-wrapper,
.gen-steps-wrapper {
	padding: 0 5px;
}

.gen-intro-wrapper {
	
}

.gen-steps-wrapper {
	@extend %clearfix;
	height: 44px;
	border-top: 1px solid $ltgray;
	border-bottom: 1px solid $ltgray;
	h5 {
		display: inline-block;
		float: left;
		line-height: 44px;
		height: 100%;
		padding-right: 8px;
	}
	.gen-pagi {
		@extend %clearfix;
		float: left;
		height: 100%;
		padding: 8px 0;
	}
	a {
		position: relative;
		@include circle-link;
		float: left;
		margin-left: 10px;
		@include font-size(15px);
		font-family: $vitesse;
		font-weight: 500;
		color: $ltgray;
		text-align: center;
		background: #fff;
		border: 1px solid $ltgray;
		@include border-radius(50%);
		@include transition(all .2s);
		&:before {
			content:"";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			width: 10px;
			height: 2px;
			background: $ltgray;
			margin: -1px 0 0 -11px;
		}
		&:first-of-type {
			margin-left: 0;
			&:before {
				display: none;
			}
		}
		&.active {
			background: $blue;
			border: 1px solid $blue;
			color: #fff;
		}
		&.previous {
			background: $ltgray;
			border: 1px solid $ltgray;
			color: #fff;
			&:hover {
				background: $blue;
				border: 1px solid $blue;
				color: #fff;
			}
		}
	}
}

// Form Layout
#form-views {
	overflow: hidden;
}
	
form {
	@extend %clearfix;
	padding: 0 5px;
}

.gen-formrow {
	@extend %clearfix;
	&.step-heading {
		padding: 15px 0;
		h4 {
			&:before {
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-right: 6px;
				background-color: $blue;
				@include font-size(11px);
				font-family: $vitesse;
				font-weight: 700;
				color: #fff;
				line-height: 18px;
				text-align: center;
				transform: translateY(-2px);
				-webkit-transform: translateY(-2px);
				@include border-radius(50%);
			}
		}
	}
	&.first {
		h4 {
			&:before {
				content: "1";
			}
		}
	}
	&.second {
		h4 {
			&:before {
				content: "2";
			}
		}
	}
	&.third {
		h4 {
			&:before {
				content: "3";
			}
		}
	}
	&.fourth {
		h4 {
			&:before {
				content: "4";
			}
		}
	}
	&.fifth {
		h4 {
			&:before {
				content: "5";
			}
		}
	}
}

// Transition form rows
.gen-formstep-wrapper {
	overflow: hidden;
}

#form-views {
	position: relative;
	&.ng-enter {
		@include transition(all 1s);
		> .gen-formstep-wrapper {
			opacity: 1;
			@include animation(fade-in 1s);
			> .animate-one {
				@include animation(move-right .3s);
			}
			> .animate-two {
				@include animation(move-right .4s);
			}
			> .animate-three {
				@include animation(move-right .5s);
			}
			> .animate-four {
				@include animation(move-right .6s);
			}
			> .animate-five {
				@include animation(move-right .7s);
			}
			> .animate-six {
				@include animation(move-right .8s);
			}
			> .animate-seven {
				@include animation(move-right .9s);
			}
		}
	}
}

// Form Layout
.gen-formfield {
	position: relative;
	float: left;
    width: 50%;
    padding-bottom: 15px;
    @include mobile {
	    float: none;
	    width: 100%;
    }
    &.fullfield {
	    width: 100%;
    }
    &.left {
	    padding-right: 5px;
	    @include mobile {
		    padding-right: 0;
	    }
    }
    &.right {
	  	padding-left: 5px;
	    @include mobile {
		    padding-left: 0;
	    }  
    }
    &.field-check {
	    &.primary {
		    width: 75%;
		    width: calc(100% - 100px);
		    height: 65px;
		    @include mobile {
				float: left;
    		}
	    }
	    &.secondary {
		    width: 100px;
		    height: 65px;
		    overflow: hidden;
		    @include mobile {
				float: left;
    		}
	    }
    }
}

.gen-button {
	width: 100%;
	padding: 10px 5px;
	@include mobile {
		padding: 10px 0;
	}
}	


// Form Elements	
input, label, select {
	display: inline-block;
	width: 100%;
	-webkit-appearance: none;
}

label {
	padding-bottom: 5px;
	@include font-size(11px);
	text-transform: uppercase;
	font-weight: 300;
}

input[type=text],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
select,
textarea {
	height: 30px;
	padding: 0 8px;
	border: 1px solid $ltgray;
	background-color: #fbfbfc;
	@include font-size(16px);
	font-weight: 400;
	@include transition(all .2s);
	@include border-radius(2px);
	&:hover {
		border: 1px solid $mdgray;
	}
	&:focus {
		background-color: #fff;
		border: 1px solid $blue;
		outline: 0;
	}
}

input[type=text],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
textarea {
	box-shadow: inset 0 1px 0 rgba(35,40,43,0.15);
}

select {
	width: 100%;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('../assets/img/icon-dropdown.svg');
	box-shadow: 0 1px 0 rgba(35,40,43,0.15);
	&:hover {
		background-image: url('../assets/img/icon-dropdown-hover.svg');
	}
	&:focus {
		background-image: url('../assets/img/icon-dropdown-focus.svg');
	}
}

textarea {
	padding: 8px;
	width: 100%;
	height: 70px;
	line-height: 1.5;
}

// Checkboxes

.checkbox-label {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 29px 0 0 38px;
	font-style: italic;
	text-transform: none;
	cursor: pointer;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 23px;
		left: 10px;
		width: 20px;
		height: 20px;
		border: 1px solid $blue;
		background-color: $blue;
		background-image: url('../assets/img/icon-checkmark.svg');
		background-repeat: no-repeat;
		background-position: center center;
		box-shadow: inset 0 1px 0 rgba(35,40,43,0);
		z-index: 1;
		border-radius: 50%;
		cursor: pointer;
		@include transition(all .2s);
	}
}

input[type="radio"], 
input[type="checkbox"] {
	position: absolute;
	top: -60px;
	@include opacity(0);
}

input[type=checkbox]:checked + .checkbox-label:after,
input[type="radio"]:checked + .checkbox-label:after {
	border: 1px solid $ltgray;
	background-color: #fbfbfc;
	background-image: none;
	box-shadow: inset 0 1px 0 rgba(35,40,43,0.15);
}

input[type=submit],
button, 
.button {
	display: inline-block;
	width: 100%;
	max-width: 240px;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	@include font-size(16px);
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: 1px solid $green;
	background: $green;
	box-shadow: 0 2px 0 rgba(35,40,43,0.15);
	@include border-radius(4px);
	@include transition(all .2s);
	-webkit-appearance: none;
	cursor: pointer;
	&:hover {
		border: 1px solid $greenhover;
		background: $greenhover;
	}
	&:focus {
		outline: 0;
	}
	&.full {
		max-width: 100%;
	}
	&.spaced {
		margin: 0 2px;
		@include mobile-medium {
			margin: 6px 0;
		}
	}
	&.next-step {
		@include gray-button;
		&:after {
			content:"";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-left: 4px;
			background: url('../assets/img/icon-arrow_white-left.svg') no-repeat center center;
			transform: translateY(2px);
			-webkit-transform: translateY(2px);
		}
	}
	&.back,
	&.email,
	&.download,
	&.share,
	&.approved {
		&:before {
			content:"";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 4px;
			transform: translateY(2px);
			-webkit-transform: translateY(2px);
		}
	}
	&.back {
		@include gray-button;
		&:before {
			background: url('../assets/img/icon-arrow_white-right.svg') no-repeat center center;
		}
	}
	&.email {
		&:before {
			background: url('../assets/img/icon-button_email.svg') no-repeat center center;
		}
		&:hover,
		&:focus {
			&:before {
				background: url('../assets/img/icon-button_email-white.svg') no-repeat center center;
				@include animation(fade-in .2s);
			}
		}
	}
	&.download {
		&:before {
			background: url('../assets/img/icon-button_download.svg') no-repeat center center;
		}
		&:hover,
		&:focus {
			&:before {
				background: url('../assets/img/icon-button_download-white.svg') no-repeat center center;
				@include animation(fade-in .2s);
			}
		}
	}
	&.share {
		&:before {
			background: url('../assets/img/icon-button_share.svg') no-repeat center center;
		}
		&:hover,
		&:focus {
			&:before {
				background: url('../assets/img/icon-button_share-white.svg') no-repeat center center;
				@include animation(fade-in .2s);
			}
		}
	}
	&.approved {
		&:before {
			background: url('../assets/img/icon-button_check.svg') no-repeat center center;
		}
	}
	&.outline-button {
		display: inline-block;
		width: auto;
		height: 36px;
		line-height: 34px;
		@include font-size(14px);
		color: $green;
		border: 2px solid $green;
		background: transparent;
		@include border-radius(3px);
		box-shadow: none;
		&:hover,
		&:focus {
			background: $green;
			color: #fff;
		}
		@include mobile-medium {
			width: 100%;
			height: 40px;
			line-height: 38px;
		}
	}
}

.no-svg input[type=submit],
.no-svg	button, 
.no-svg	.button {
	&.next-step {
		&:after {
			background: url('../assets/img/icon-arrow_white-left.png') no-repeat center center;
		}
	}
	&.back {
		&:before {
			background: url('../assets/img/icon-arrow_white-right.png') no-repeat center center;
		}
	}
	&.email {
		&:before {
			background: url('../assets/img/icon-button_email.png') no-repeat center center;
		}
	}
	&.download {
		&:before {
			background: url('../assets/img/icon-button_download.png') no-repeat center center;
		}
	}
	&.share {
		&:before {
			background: url('../assets/img/icon-button_share.png') no-repeat center center;
		}
	}
	&.approved {
		&:before {
			background: url('../assets/img/icon-button_check.png') no-repeat center center;
		}
	}
}

button.secondary-cta,
a.secondary-cta {
	@include secondary-cta;
	&.refresh {
		display: inline-block;
		&:before {
			content:"";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			background: url('../assets/img/icon-refresh_blue.svg') no-repeat center center;
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			@include transition(transform .3s);
		}
		&:hover {
			&:before {
				transform: rotate(-180deg);
				-webkit-transform: rotate(-180deg);
			}
		}
		span {
			display: inline-block;
			transform: translateY(-3px);
			-webkit-transform: translateY(-3px);
		}
	}
}


// Template Selector
.template-selector {
	position: relative;
	width: 92%;
	padding: 5px;
	margin: 10px auto 0 auto;
	border: 3px solid #fff;
	@include border-radius(2px);
	@include opacity(0.65);
	@include transition(all .3s);
	overflow: visible;
	cursor: pointer;
	&:hover {
		border: 3px solid $ltgray;
		@include opacity(1);
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: -8px;
		top: -12px;
		height: 24px;
		width: 24px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		@include opacity(0);
		@include border-radius(50%);
		@include transition(all .3s);
	}
	&.selected {
		border: 3px solid $blue;
		@include opacity(1);
		&:after {
			background-color: $blue;
			background-image: url('../assets/img/icon-checkmark.svg');
			@include opacity(1);
		}
	}
	.template-selector-inner {
		@include aspect-ratio(17,22);
	}
}

.no-svg .template-selector {
	&.selected {
		&:after {
			background-image: url('../assets/img/icon-checkmark.png');
		}
	}
}

// Required Fields
.gen-formfield.required {
	label {
		&:after {
			content:"*";
			display: inline-block;
			color: $bluehover;
			margin-left: 2px;
		}
	}
}

// Error Messages
.error-message {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 15px;
	@include font-size(10px);
	font-style: italic;
	color: $red;
	transform: translate(0,-10px);
	-webkit-transform: translate(0,-10px);
	z-index: -1;
	@include opacity(0);
	@include transition (all .3s ease-out);
}

.gen-formfield.error,
.gen-formfield.field-check.error {
	height: auto;
	padding-bottom: 30px;
	.error-message {
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
		@include opacity(1);
		z-index: 1;
	}
	label {
		color: $red;
		&:after {
			color: $red;
		}
	}
	input[type="text"], 
	input[type="number"], 
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	input[type=url],
	textarea,
	select {
		border: 1px solid $red;
		@include background-opacity($red,0.05);
		&:hover,
		&:focus {
			border: 1px solid $red;
		}
	}
}


// //////////////////////////
// 7. POSTER ELEMENTS
// //////////////////////////
	
.poster-canvas {
	width: 100%;
    background-color: $offwhite;
    @include aspect-ratio(17,22);
    font-size: 75%;
    transform: scale(1);
    -webkit-transform: scale(1);
    @include transition(transform .5s ease-out, box-shadow .5s);
    &.letter-lock {
	    width: 612px;
    }
    &.tabloid-lock {
	    width: 792px;
    }
    .template-element {
	    overflow: hidden;
	    span {
		    display: inline-block;
	    	text-shadow: none;
	    	transform: scale(1);
	    	-webkit-transform: scale(1);
			@include transition(text-shadow .3s, transform .3s);
			&.highlight {
				transform: scale(1.05);
				-webkit-transform: scale(1.05);
				text-shadow: 0px 1px 1px rgba(0,0,0,0.8), 0 1px 8px #00bbb9;
			}
		}
    }
}


// //////////////////////////
// 8. FOOTER - CTA
// //////////////////////////

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 64px $padding-standard;
	text-align: center;
	z-index: -1;
	@include vertical {
		position: relative;
		bottom: initial;
		left: initial;
		z-index: initial;
	}
	h3, p {
		color: #fff;
	}
}


// ///////////////////////////////
// 9. APPROVAL & PREVIEW STATES
// //////////////////////////////

// Default Elements
.poster-preview-toggle {
	display: none;
	@include transition(transform .35s, opacity .35s);
	@include vertical {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 12px $padding-slim;
		background: #fff;
		box-shadow: 0 2px 0 rgba(30,35,43,0.15);
		@include opacity(0);
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		z-index: 20;
	}
	&.viewable,
	&.stuck {
		@include vertical {
			@include opacity(1);
			transform: translateY(0);
			-webkit-transform: translateY(0);
		}
	}
	.toggle-wrapper {
		@extend %clearfix;
		overflow: hidden;
		.toggle-button {
			@include secondary-cta;
			height: 24px;
			line-height: 24px;
			cursor: pointer;
			@include transition(color .2s, transform .35s ease-out, opacity .35s ease-out);
			&:focus {
				color: $bluehover;
			}
			&.toggle-preview {
				float: right;
				transform: translateX(0);
				-webkit-transform: translateX(0);
				@include opacity(1);
				&:after {
					content:"";
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../assets/img/icon-arrow_blue-left.svg') no-repeat center center;
					margin-left: 4px;
					transform: translateY(4px);
					-webkit-transform: translateY(4px);
				}
			}
			&.toggle-builder {
				float: left;
				transform: translateX(-100%);
				-webkit-transform: translateX(-100%);
				@include opacity(0);
				&:before {
					content:"";
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../assets/img/icon-arrow_blue-right.svg') no-repeat center center;
					margin-right: 4px;
					transform: translateY(4px);
					-webkit-transform: translateY(4px);
				}
			}
		}
	}
}

.poster-builder-intro,
.page-wrapper,
.poster-builder-cta {
	@include vertical {
		opacity: 1;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		@include transition(opacity .35s ease-out, transform .35s ease-out);
	}
}

.poster-builder-hero {
	@include vertical {
		opacity: 1;
		left: 0;
		@include transition(opacity .35s ease-out, left .35s ease-out);
	}
}

.approval-container {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 0;
	height: 100%;
	padding: 5% 24px;
	@include background-opacity($black3, 0.96);
	@include opacity(0);
	overflow-y: auto;
	z-index: 10;
	@include transition(all .2s ease-out);
	@include vertical {
		width: 100%;
		padding: 72px 24px;
		background: $black1;
		transform: translateX(50%);
		-webkit-transform: translateX(50%);
		z-index: -999;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include transition(all .35s ease-out);
	}
	
	.approval-inner {
		position: relative;
		
		.approval-modal {
			position: absolute;
			top: 50%;
			right: 55%;
			width: 50%;
			max-width: 380px;
			padding: $padding-standard;
			background: #fff;
			border: 1px solid $ltgray;
			text-align: center;
			@include opacity(0);
			transform: translate(100%,-55%);
			-webkit-transform: translate(100%,-55%);
			@include transition(all .2s);
			@include vertical {
				position: relative;
				top: initial;
				right: initial;
				width: 100%;
				height: 0;
				overflow: hidden;
				padding: $padding-slim;
				margin: 0 auto 30px auto;
				transform: translate(0, -40px);
				-webkit-transform: translate(0, -40px);
			}
		}
	}
	
}

// Preview and approval state (mobile only)
.approval-state,
.preview-state {
	
	.poster-builder-intro,
	.page-wrapper,
	.poster-builder-cta {
		@include vertical {
			opacity: 1;
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
		}
	}
	
	.poster-builder-hero {
		@include vertical {
			opacity: 1;
			left: -100%;
		}
	}
}

// Approval state (desktop & mobile)
.approval-state {
	
	.approval-container {
		width: 100%;
		@include opacity(1);
		@include vertical {
			transform: translateX(0);
			-webkit-transform: translateX(0);
		}
		
		.approval-inner {
			.approval-modal {
				@include opacity(1);
				transform: translate(0,-55%);
				-webkit-transform: translate(0,-55%);
				transition-delay: .3s;
				-webkit-transition-delay: .3s;
				@include vertical {
					height: auto;
					overflow: visible;
					transform: translate(0,0);
					-webkit-transform: translate(0,0);
				}
			}
		}
	}
	
	.poster-canvas {
		position: fixed;
		width: 50%;
		top: 50%;
		left: 50%;
		margin-top: -295px;
		box-shadow: 0 2px 20px rgba(0,0,0,0.7);
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		z-index: 11;
		@include vertical {
			position: initial;
			width: 100%;
			top: initial;
			left: initial;
			margin-top: 0;
			box-shadow: 0 2px 10px rgba(0,0,0,0.7);
			transform: scale(1);
			-webkit-transform: scale(1);
			z-index: initial;
		}
	}
	
	.poster-preview-toggle {
		@include opacity(1);
		transform: translate(-100%,0);
		-webkit-transform: translate(-100%,0);
	}
}

// Approval state (mobile only)
.preview-state {
	
	.poster-preview-toggle {
		@include opacity(1);
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
		.toggle-wrapper {
			
			.toggle-preview {
				transform: translateX(100%);
				-webkit-transform: translateX(100%);
				@include opacity(0);
			}
			
			.toggle-builder {
				transform: translateX(0);
				-webkit-transform: translateX(0);
				@include opacity(1);
			}
		}
	}
	
	.approval-container {
		@include opacity(1);
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}


// //////////////////////////
// 10. PRELOADER
// //////////////////////////

.preloader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: #fff;
	overflow: hidden;
	z-index: 9999;
	&.active {
		.preloader-wrapper {
			transform: translateY(0);
			-webkit-transform: translateY(0);
			@include opacity(1);
		}
	}
	
	.preloader-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		@include opacity(0);
		@include transition(all .3s ease-out);
		&:before {
			content: "";
			display: block;
			@include absolute-tl;
			width: 100%;
			height: 5px;
			background: $blue;
			font-size: 0em;
			@include animation(preload-pseudo 4s);
		}
		
		.preloader-container {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-55%);
			-webkit-transform: translateY(-55%);
			text-align: center;
			
			span {
				display: inline-block;
			}
			
			.preloader-icon {
				position: relative;
				width: 80px;
				height: 80px;
				background: url('../assets/img/sn-mark_light.svg') no-repeat left center;
				&:before {
					content: "";
					display: block;
					@include absolute-tl;
					width: 100%;
					height: 100%;
					background: url('../assets/img/sn-mark_dark.svg') no-repeat left center;
					@include animation(preload-pseudo 4s);	
				}
			}
			
			.preloader-heading {
				width: 100%;
				@include animation(fade-in .6s infinite alternate);
			}
		}
	}
}

.no-svg .preloader-overlay {
	.preloader-wrapper {
		.preloader-container {
			.preloader-icon {
				background: url('../assets/img/sn-mark_light.png') no-repeat left center;
				&:before {
					background: url('../assets/img/sn-mark_dark.png') no-repeat left center;
				}
			}
		}
	}
}


// //////////////////////////
// 11. DOWNLOAD PAGE
// //////////////////////////

.download-page .gen-container {
	min-height: 0;
}

.download-page .poster-builder-app {
	min-height: 720px;
	min-height: 100vh;
}

.download-row {
	@extend %clearfix;
	display: table;
	width: 100%;
	padding: $padding-standard 8px;
	background: #fff;
	border-bottom: 1px solid $ltgray;
	@include vertical {
		display: block;
		@include background-opacity($offwhite, 0.6);
		border: 1px solid $ltgray;
		margin-bottom: 15px;
	}
	&.header {
		border-bottom: 2px solid $ltgray;
		padding-top: 12px;
		@include vertical {
			background: #fff;
			border: 0;
		}
		p {
			margin: 0;
		}
	}
	&.action-list {
		@include transition(background .2s);
		&:hover {
			@include background-opacity($offwhite, 0.6);
		}
	}
	.col {
		display: table-cell;
		float: none;
		vertical-align: middle;
		@include vertical {
			display: block;
			text-align: center;
			padding: 15px 0;
		}
		&.button-col {
			text-align: right;
			@include vertical {
				text-align: center;
			}
		}
		&.bottom {
			vertical-align: bottom;
			@include vertical {
				vertical-align: initial;
				padding: 15px 0 0 0;
			}
		}
	}
}

.download-callout {
	background: $offwhite;
	padding: $padding-standard;
	margin: 12px 0 0 0;
	@include vertical {
		background: #fff;
		text-align: center;
	}
}

.hide {
	display:  none !important;
}




