<div class="gen-formrow step-heading fifth">
	<h4>Tournament Contact Information</h4>
</div>
<div class="gen-formrow">
	<div class="gen-formfield field-check primary required" ng-class="{'error': invalid5.dirFirstName == false}">
		<label for="director_first">Director First Name</label>
		<input ng-model="Model.dirFirstName" id="director_first" name="director_first" type="text" tabindex="1" />
		<span class="error-message">Enter Director's first name</span>
	</div>									
	<div class="gen-formfield field-check secondary">
		<input ng-model="excludeFirst" ng-change="firstNameToggle()" id="include_first" name="include_first" type="checkbox" tabindex="2" />
		<label class="checkbox-label" for="include_first">Display</label>
	</div>								
</div>

<div class="gen-formrow">										
	<div class="gen-formfield field-check primary required" ng-class="{'error': invalid5.dirLastName == false}">
		<label for="director_last">Director Last Name</label>
		<input ng-model="Model.dirLastName" id="director_last" name="director_last" type="text" tabindex="3" />
		<span class="error-message">Enter Director's last name</span>
	</div>									
	<div class="gen-formfield field-check secondary">
		<input ng-model="excludeLast" ng-change="lastNameToggle()" id="include_last" name="include_last" type="checkbox" tabindex="4" />
		<label class="checkbox-label" for="include_last">Display</label>
	</div>
</div>

<div class="gen-formrow">
	<div class="gen-formfield field-check primary required" ng-class="{'error': invalid5.tEmail == false}">
		<label for="tournament_email">Tournament Email</label>
		<input ng-model="Model.tEmail" id="tournament_email" name="tournament_email" type="email" tabindex="5" />
		<span class="error-message">Enter valid Tournament email</span>
	</div>									
	<div class="gen-formfield field-check secondary">
		<input ng-model="excludeEmail" ng-change="emailToggle()" id="include_email" name="include_email" type="checkbox" tabindex="6" />
		<label class="checkbox-label" for="include_email">Display</label>
	</div>
</div>

<div class="gen-formrow">
	<div class="gen-formfield field-check primary required" ng-class="{'error': invalid5.tphone == false}">
		<label for="tournament_phone">Tournament Phone</label>
		<input ng-model="Model.tphone" id="tournament_phone" name="tournament_phone" type="tel" tabindex="7" />
		<span class="error-message">Enter Tournament phone number</span>
	</div>									
	<div class="gen-formfield field-check secondary">
		<input ng-model="excludePhone" ng-change="phoneToggle()" id="include_phone" name="include_phone" type="checkbox" tabindex="8" />
		<label class="checkbox-label" for="include_phone">Display</label>
	</div>
</div>

<div class="gen-formrow">
	<div class="gen-formfield field-check primary required" ng-class="{'error': invalid5.twebsiteName == false}">
		<label for="tournament_website">Tournament Website</label>
		<input ng-model="Model.twebsiteName" id="tournament_website" name="tournament_website" type="text" tabindex="9" />
		<span class="error-message">Enter Tournament website</span>
	</div>									
	<div class="gen-formfield field-check secondary">
		<input ng-model="excludeWebsite" ng-change="websiteToggle()" id="include_site" name="include_site" type="checkbox" tabindex="10" />
		<label class="checkbox-label" for="include_site">Display</label>
	</div>
</div>

<div class="gen-formrow">
	<div class="gen-button">
		<a id="approval-trigger" class="button full" ng-click="nextStep()">Generate Poster</a>
	</div>
</div>