<div class="gen-formrow step-heading second">
	<h4>Select a Template</h4>
</div>

<div class="gen-formrow">
	<div class="gen-formfield left">
		<div id="template-one-trigger" ng-click="activeButton()" class="template-selector" ng-class="{'selected': template1}">
			<div class="template-selector-inner">
				<div class="aspect-wrapper template-trigger-one">
				</div>
			</div>
		</div>
	</div>								
	<div class="gen-formfield right">
		<div id="template-two-trigger" ng-click="activeButton2()" class="template-selector" ng-class="{'selected': template2}">
			<div class="template-selector-inner">
				<div class="aspect-wrapper template-trigger-two">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gen-formrow">
	<div class="gen-button">
		<a class="button full next-step" ng-click="nextStep()">Next Step</a>
	</div>
</div>